@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --subheading: hsl(276, 100%, 81%);
    --msg-left: hsl(276, 55%, 52%);
    --msg-right: hsl(271, 15%, 43%);
    --placeholder-text: hsl(206, 6%, 79%);
    --main-heading: hsl(271, 36%, 24%);
    --paragraph: hsl(270, 7%, 64%);
    --app-background: hsl(270, 20%, 96%);
    --submit-btn: hsl(271, 36%, 24%);
    --radio-btn: hsl(289, 100%, 72%);

    --gradient: linear-gradient(from bottom right hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}